@inherits LayoutComponentBase

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>EventEase</h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @Body
        </div>
    </div>
</div>